go 1.24.5

use (
	./basics/errors
	./basics/files
	./basics/functions
	./basics/packages
	./basics/strings
	./basics/variables
	./exercises/bank
	./exercises/investment-calculator
	./exercises/profit-calculator
	./shared/utils
)
